<div class="container"> 
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h1 class=" mt-2">Log In</h1>
    </div>
  </div>
  <hr>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
      <div class="form-container shadow rounded mt-4 mb-4 p-3 bg-dark">
        <div class="mb-3">
          <%= f.label :email, for: "email", class: "form-label fw-bold text-white-50" %>
          <%= f.email_field :email, id: "email", class: "form-control", placeholder: "Enter your email address" %>
        </div>
        <div class="mb-3">
          <%= f.label :password, for: "password", class: "form-label fw-bold text-white-50" %>
          <%= f.password_field :password, id: "password", class: "form-control", placeholder: "Enter your password" %>
        </div>
        <div class="d-flex">
          <div class="flex me-auto">
            <%= f.submit "Log in", class: "btn btn-success" %>
          </div>
          <div class="flex">
            <%= link_to "Back to Articles", articles_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 

<% end %>