<div class="container mb-3">
  <div class="row">
  <% @articles.each do |article| %>
    <div class="col-md-6">
      <div class="card text-center mt-4 mb-4 shadow bg-body rounded">
        <div class="card-header fst-italic">
          Author: <%= link_to article.user.username, user_path(article.user) %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-success" %></h5>
          <p class="card-text"><%= truncate(article.description, length: 100) %></p>
          <%= link_to "View Blog", article_path(article), class: "btn btn-outline-success" %>
          <% if logged_in? && (current_user == article.user || current_user.admin?) %>
            <%= link_to "Edit Blog", edit_article_path(article), class: "btn btn-outline-primary" %>
            <%= link_to 'Delete', article_path(article), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?"} %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(article.created_at) %> ago, edited <%= time_ago_in_words(article.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>